p{font-size: 20px;}
h4{font-size: 30px;}
h1{font-size: 200px;}
h2{font-size: 40px;}
h5{font-size: 50px;}
p {
    line-height: 1.2;
    font-family: sans-serif;
    font-weight: lighter;
}
h2 {font-family: sans-serif;}
h3 {font-family: sans-serif;}
h4 {font-family: sans-serif;}
h5 {font-family: sans-serif;}
h2 {font-weight: normal;}
h3 {font-weight: normal;}
h4 {font-weight: normal;}
h2 {font-weight: normal;}